---
import Social from './Social.astro';

---

<footer>
  <p>
    <Social platform="twitter" username="chaofeis" />
    <Social platform="github" username="chafel" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
