---
import Social from './Social.astro';

---

<footer>
  <p>
    <Social platform="twitter" username="chaofeis" />
    <Social platform="github" username="chafel" />
    <a href="rss.xml" target="_blank" rel="noopener noreferrer">RSS</a>
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
